@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i');

/*------------------------------------------------------------------------------
[Master Stylesheet]

Project:        I-news - Responsive HTML Template
Version:        1.0
Last change:    04/29/2017
Primary use:    Newspaper & blog
Author:         themeparker
URL:            https://themeforest.net/user/themeparker
------------------------------------------------------------------------------*/


/*
This file contains the common info of this theme.
*/


/*------------------------------------------------------------------------------
[Table of contents]

    01.  General Styling & Typography
    02.  Top Header
    03.  Navber Adjustment
    04.  NewsTicker
    05.  Slider
    06.  All Post
    07.  Weather Widget
    08.  Weather Widget (Two)
    09.  Social Icon
    10.  Tabs
    11.  Games News
    12.  Categories Widgets
    13.  Achive Widget (Calender)
    14.  Poll Widget
    15.  Tags Widget
    16.  Featured News
    17.  Youtube
    18.  More News
    19.  Post Card News
    20.  Article
    21.  Pagination
    22.  Footer
    23.  Category page
    24.  Contact Page
    25.  Details page
    26.  Category Style One
    27.  Home Style Two
    28.  About us page
    29.  F.A.Q us page
* --------------------------------------------------------------------------- */


/*** 01. General Styling & Typography
------------------------------------------------------------------------------*/

::-webkit-selection {
    background-color: #eb0254;
    color: #ffffff;
}

::-moz-selection {
    background-color: #eb0254;
    color: #ffffff;
}

::selection {
    background-color: #eb0254;
    color: #ffffff;
}


/*--- common style ----*/

body {
    background: #edeff4;
    font-family: 'Source Sans Pro', sans-serif;
    color: #777;
}

body.home_six,
body.home_seven {
    background: #fff;
}

html,
body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body.boxed-layout {
    background: #f7f7f7 url(../images/boxed-bg.jpg) no-repeat;
    background-position: center 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body.boxed-layout .wrapper {
    background: #fff;
    max-width: 1140px;
    margin: 30px auto;
    overflow-x: hidden;
    box-shadow: 0 7px 13px rgba(0, 0, 0, 0.15);
}

p {
    /*    color: #777777;*/
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

a:hover {
    color: #eb0254;
    text-decoration: none
}

.m_0 {
    margin: 0 !important;
}

@media (min-width: 1200px) {
    .container {
        width: 1070px;
    }
}

.page_main_wrapper {
    padding-bottom: 60px;
}

.row-m {
    margin-right: -5px;
    margin-left: -5px;
}

@media (max-width: 767px) {
    .container {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
    .row {
        margin-right: -10px !important;
        margin-left: -10px !important;
    }
    .col-xs-1,
    .col-sm-1,
    .col-md-1,
    .col-lg-1,
    .col-xs-2,
    .col-sm-2,
    .col-md-2,
    .col-lg-2,
    .col-xs-3,
    .col-sm-3,
    .col-md-3,
    .col-lg-3,
    .col-xs-4,
    .col-sm-4,
    .col-md-4,
    .col-lg-4,
    .col-xs-5,
    .col-sm-5,
    .col-md-5,
    .col-lg-5,
    .col-xs-6,
    .col-sm-6,
    .col-md-6,
    .col-lg-6,
    .col-xs-7,
    .col-sm-7,
    .col-md-7,
    .col-lg-7,
    .col-xs-8,
    .col-sm-8,
    .col-md-8,
    .col-lg-8,
    .col-xs-9,
    .col-sm-9,
    .col-md-9,
    .col-lg-9,
    .col-xs-10,
    .col-sm-10,
    .col-md-10,
    .col-lg-10,
    .col-xs-11,
    .col-sm-11,
    .col-md-11,
    .col-lg-11,
    .col-xs-12,
    .col-sm-12,
    .col-md-12,
    .col-lg-12 {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
}

@media(min-width:0px) and (max-width:1199px) {
    body.boxed-layout .wrapper {
        margin: 10px;
    }
}

.col-p {
    padding-right: 5px;
    padding-left: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    color: #111;
}

a {
    text-decoration: none;
}

.featured-inner,
.post-body,
.youtube-wrapper,
.add-inner,
.archive-wrapper {
    position: relative;
    padding: 15px;
    background-color: #fff;
}

.home_seven .featured-inner,
.home_seven .youtube-wrapper,
.home_seven .add-inner,
.home_seven .archive-wrapper {
    padding: 0;
}

.home_seven .post-body {
    padding: 30px 0;
}

.home_seven .panel_body {
    padding: 30px 0 0;
}

@media (max-width:767px) {
    .featured-inner,
    .post-body,
    .youtube-wrapper,
    .add-inner,
    .archive-wrapper {
        padding: 10px;
    }
}

.featured-inner,
.post-inner,
.add-inner,
.weather-wrapper,
.tabs-wrapper,
.youtube-wrapper,
.posts,
.panel_inner,
.archive-wrapper,
.weather-wrapper-2 {
    margin-bottom: 10px;
}

.home_seven .featured-inner,
.home_seven .post-inner,
.home_seven .add-inner,
.home_seven .weather-wrapper,
.home_seven .tabs-wrapper,
.home_seven .youtube-wrapper,
.home_seven .posts,
.home_seven .panel_inner,
.home_seven .archive-wrapper,
.home_seven .weather-wrapper-2 {
    margin-bottom: 30px;
}

.home_six .featured-inner,
.home_six .post-inner,
.home_six .add-inner,
.home_six .weather-wrapper,
.home_six .tabs-wrapper,
.home_six .posts,
.home_six .panel_inner,
.home_six .archive-wrapper,
.home_six .weather-wrapper-2 {
    /*border: 1px solid #ddd;*/
    border: 1px solid #e0e0e0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}

.home_six .youtube-wrapper {
    padding: 0;
}

.header-right-menu ul,
.most-viewed ul,
.social-media,
.posts ul,
.twitter-inner ul,
.about-inner ul,
.header-social > ul,
.top-left-menu > ul,
.headser-right-menu > ul,
ul.category-list,
.poll-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/* Paste this css to your style sheet file or under head tag */


/* This only works with JavaScript, 
if it's not present, don't show loader */

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/loader.gif) center no-repeat #fff;
}


/*
Color
=========================== */

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover,
.side .widget ul.link li a:hover,
.side .widget ul.link li a:focus,
.check-list li:before,
ul.cart-list > li > h6 > a,
.attr-nav > ul > li > a:hover,
.attr-nav > ul > li > a:focus,
nav.navbar-sidebar ul.nav li.dropdown.on > a,
nav.navbar-sidebar .dropdown .megamenu-content .col-menu.on .title,
nav.navbar-sidebar ul.nav li.dropdown ul.dropdown-menu li a:hover,
nav.navbar ul.nav li.dropdown.on > a,
nav.navbar.navbar-inverse ul.nav li.dropdown.on > a,
nav.navbar-sidebar ul.nav li.dropdown.on ul.dropdown-menu li.dropdown.on > a,
nav.navbar .dropdown .megamenu-content .col-menu.on .title,
nav.navbar ul.nav > li > a:hover,
nav.navbar ul.nav > li.active > a:hover,
nav.navbar ul.nav li.active > a,
nav.navbar li.dropdown ul.dropdown-menu > li a:hover {
    color: #eb0254 !important;
}

nav.navbar.navbar-transparent ul.nav > li > a:hover,
nav.navbar.no-background ul.nav > li > a:hover,
nav.navbar ul.nav li.scroll.active > a,
nav.navbar.navbar-dark ul.nav li.dropdown ul.dropdown-menu > li > a:hover,
nav.navbar ul.nav li.dropdown.on > a,
nav.navbar-dark ul.nav li.dropdown.on > a {
    color: #eb0254 !important;
}

@media(max-width:920px) {
    nav.navbar .dropdown .megamenu-content .col-menu ul > li > a:hover,
    nav.navbar.navbar-dark .dropdown .megamenu-content .col-menu .title:hover {
        color: #eb0254 !important;
    }
}


/* Border ------*/

ul.cart-list > li.total > .btn {
    border-color: #eb0254;
}

nav.navbar li.dropdown ul.dropdown-menu {
    border-top-color: #eb0254 !important;
}


/* Background ------*/

ul.cart-list > li.total > .btn,
.attr-nav > ul > li > a span.badge,
nav.navbar .share ul > li > a:hover,
nav.navbar .share ul > li > a:focus {
    background-color: #eb0254;
}

ul.cart-list > li.total > .btn:hover,
ul.cart-list > li.total > .btn:focus {
    background-color: #dc3236 !important;
}


/* Back to top ------*/

#toTop {
    position: fixed;
    bottom: 10px;
    right: 15px;
    cursor: pointer;
    display: none;
    z-index: 10;
}

.back-top {
    background-color: #eb0254;
    border: 1px solid #eb0254;
    padding: 7px 9px;
    height: 34px;
    width: 34px;
    border-radius: 50% !important;
    color: #fff;
}

.back-top:hover {
    color: #fff;
    background-color: #1b1c26;
    border: 1px solid #1b1c26;
}

@media (min-width: 768px) {
    #toTop {
        right: 30px;
    }
}


/* Image hover ------*/

.news-image:before,
figure a::before,
.thumb::before,
.grid-item-img:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 0;
    pointer-events: none;
    position: absolute;
    background-color: rgba(0, 0, 0, .3);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.post-height-3 .news-image:before {
    background-color: #000;
}

.slider-post:hover .news-image:before,
article:hover figure a:before,
.news-list-item:hover .thumb::before,
.grid-item:hover .grid-item-img:before {
    opacity: 1;
}

.thm-margin {
    margin: 0 !important;
}

.thm-padding {
    padding: 0 !important;
}


/*figure, .thumb{
    background: url(../images/default-thumbnail.jpg) no-repeat;
    background-size: contain;
}*/


/* Sideber scrol ------*/

.main-content,
.rightSidebar {
    position: relative;
}

.home_seven .rightSidebar {
    padding-left: 35px;
}

.home_seven .leftSidebar {
    padding-right: 35px;
}

@media(min-width:768px) and (max-width:1199px) {
    .home_seven .rightSidebar {
        padding-left: 20px;
    }
    .home_seven .leftSidebar {
        padding-right: 35px;
    }
}


/*** 02. Top header
------------------------------------------------------------------------------*/

.header-top {
    display: block;
    background: #edeff4;
    position: relative;
    width: 100%;
    padding: 5px 0;
}

.boxed-layout .header-top {
    padding: 8px 0;
}

.header-social {
    text-align: left;
    float: left;
}

.header-social > ul > li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
}

.header-social > ul > li > a {
    color: #24252f;
    /*opacity: 0.30;*/
}

.header-social > ul > li > a .fa {
    font-size: 13px;
	color: #24252f;
}

.header-social > ul > li > a:hover {
    opacity: 0.30;
}

.top-left-menu {
    float: left;
}

.top-left-menu > ul > li {
    display: inline-block;
    list-style: none
}

.top-left-menu > ul > li > a {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    padding: 0 15px;
    border-left: 1px solid #3a3b44;
    letter-spacing: 0.2px;
}

.header-right-menu {
    text-align: right;
}

.header-right-menu > ul > li {
    list-style: none;
    display: inline-block;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    padding: 0 15px;
    border-right: 1px solid #3a3b44;
    letter-spacing: 0.2px;
}

.header-right-menu > ul > li:hover .dropdown-menu {
    display: block;
}

.header-right-menu > ul > li:last-child {
    border: none;
}

.header-right-menu > ul > li > a {
    color: #24252f;
}

.header-right-menu > ul > li .fa{
    color: #24252f;
}

.header-right-menu > ul > li > a:hover {
    border-bottom: 1px dotted #fecc17;
}

.header-right-menu > ul > li > a > i {
    margin-right: 5px;
}

@media (max-width:767px) {
    .top-left-menu {
        float: right;
    }
}

@media(min-width:768px) and (max-width:1199px) {
    .header-right-menu > ul > li:nth-child(1),
    .header-right-menu > ul > li:nth-child(2) {
        display: none;
    }
}


/* Header-middle ------*/

.header-mid {
    background-color: #1b1c26;
    padding: 10px 0;
}

.logo {
    /*    width: 270px;
        position: relative;
        height: 76px;*/
    margin: 8px 0;
}


/*** 03. Navbar Adjusment
------------------------------------------------------------------------------*/


/* Navbar Atribute ------*/

.top-search {
    background-color: #24252f;
}

.attr-nav > ul > li > a {
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
}

ul.cart-list > li.total > .btn {
    border-bottom: solid 1px #cfcfcf !important;
    color: #fff !important;
    padding: 10px 15px;
}

.menu-badge {
    font-size: 10px;
    background-color: #f8e6ec;
    color: #eb0254;
    border-radius: 10px;
    padding: 3px 10px;
    margin-left: 6px;
    line-height: 1;
    position: relative;
}

nav.navbar.bootsnav {
    border-top: 1px solid #383838;
    border-bottom: 1px solid #e7e7e7;
}

.home_seven nav.navbar.bootsnav {
    border-top: 0;
}

nav.navbar.bootsnav ul.nav > li > a {
    margin-bottom: -1px;
    color: #b7b7b7;
}

@media (min-width: 993px) {
    /* Navbar General ------*/
    nav.navbar.bootsnav .navbar-collapse {
        padding: 0;
    }
    nav.navbar.bootsnav ul.nav > li {
        /*border-left: 1px solid #e7e7e7;*/
    }
    nav.navbar.bootsnav ul.nav > li:last-child {
        /*border-right: 1px solid #e7e7e7;*/
    }
    .home_seven nav.navbar.bootsnav ul.nav > li,
    .home_seven nav.navbar.bootsnav ul.nav > li:last-child {
        border: 0;
    }
    nav.navbar.bootsnav ul.nav > li > a {
        padding: 10px 15px;
        font-weight: 800;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }
    .home_seven nav.navbar.bootsnav ul.nav > li > a {
        padding: 15px 20px 15px 0px;
    }
    nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a {
        color: #2e3233;
        font-size: 1.4rem;
    }
    /* Navbar Dropdown ------*/
    nav.navbar.bootsnav li.dropdown ul.dropdown-menu {
        margin-top: 1px;
        border: 0;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, .15);
        /*width: 200px;*/
    }
    nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content {
        width: -webkit-calc(100% - 60px) important;
        width: -moz-calc(100% - 60px) important;
        width: calc(100% - 30px) !important;
        left: 15px;
    }
    nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a {
        color: #fff;
        font-size: 1.4rem;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }
    nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li.active > a,
    nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li a:hover {
        background: #1b1c26;
    }
    nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle::after {
        font-family: 'themify';
        content: "\e64b";
        margin-left: 10px;
        margin-top: 2px;
        font-size: 10px;
    }
    /* Navbar Video ------*/
    .video-nav-item {
        border-bottom: none;
        padding: 0;
        height: auto;
        line-height: 1.2;
        text-overflow: inherit;
        white-space: inherit;
    }
    .video-nav-item .img-wrapper {
        position: relative;
    }
    .video-nav-item .img-wrapper img {
        position: static;
        margin-top: 0;
        height: auto;
        width: 100%;
        margin-bottom: .6em;
    }
    .video-nav-item .img-wrapper .link-icon {
        height: 36px;
        width: 40px;
        font-size: 20px;
        line-height: 35px;
    }
    .video-nav-item h4 {
        margin-top: 0;
        font-size: 15px;
    }
    .video-nav-item:hover h4 {
        color: #eb0254;
    }
    nav.bootsnav .megamenu-content .title {
        font-size: 15px;
        color: #eb0254;
        font-weight: 600;
    }
    nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu-video {
        padding: 0 10px;
        margin: 0 -0.5px;
        width: 20%;
    }
    nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu-video:first-child {
        border-left: none;
    }
    nav.navbar .navbar-brand {
        margin-top: 0;
    }
    nav.navbar .navbar-brand img.logo {
        width: 50px;
    }
    nav.navbar .navbar-brand {
        margin-top: 0;
    }
    nav.navbar .navbar-brand img.logo {
        width: 50px;
    }
    nav.navbar li.dropdown ul.dropdown-menu {
        border-top: solid 5px;
    }
    /* Navbar Center ------*/
    nav.navbar-center .navbar-brand {
        margin: 0 !important;
    }
    /* Navbar Brand Top ------*/
    nav.navbar-brand-top .navbar-brand {
        margin: 10px !important;
    }
    /* Navbar Full ------*/
    nav.navbar-full .navbar-brand {
        position: relative;
        top: -15px;
    }
    /* Navbar Sidebar ------*/
    nav.navbar-sidebar ul.nav,
    nav.navbar-sidebar .navbar-brand {
        margin-bottom: 50px;
    }
    nav.navbar-sidebar ul.nav > li > a {
        padding: 10px 15px;
        font-weight: bold;
    }
    /* Navbar Transparent & Fixed ------*/
    nav.navbar.bootsnav.navbar-transparent.white {
        background-color: rgba(255, 255, 255, 0.3);
        border-bottom: solid 1px #bbb;
    }
    nav.navbar.navbar-inverse.bootsnav.navbar-transparent.dark,
    nav.navbar.bootsnav.navbar-transparent.dark {
        background-color: rgba(0, 0, 0, 0.3);
        border-bottom: solid 1px #555;
    }
    nav.navbar.bootsnav.navbar-transparent.white .attr-nav {
        border-left: solid 1px #bbb;
    }
    nav.navbar.navbar-inverse.bootsnav.navbar-transparent.dark .attr-nav,
    nav.navbar.bootsnav.navbar-transparent.dark .attr-nav {
        border-left: solid 1px #555;
    }
    nav.navbar.bootsnav.no-background.white .attr-nav > ul > li > a,
    nav.navbar.bootsnav.navbar-transparent.white .attr-nav > ul > li > a,
    nav.navbar.bootsnav.navbar-transparent.white ul.nav > li > a,
    nav.navbar.bootsnav.no-background.white ul.nav > li > a {
        color: #fff;
    }
    nav.navbar.bootsnav.navbar-transparent.dark .attr-nav > ul > li > a,
    nav.navbar.bootsnav.navbar-transparent.dark ul.nav > li > a {
        color: #eee;
    }
}

@media (max-width: 992px) {
    header {
        -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
        box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
    }
    /* Navbar General ------*/
    nav.navbar.bootsnav {
        border: 0;
    }
    nav.navbar .navbar-brand {
        margin-top: 0;
        position: relative;
        top: -2px;
    }
    nav.navbar .navbar-brand img.logo {
        width: 150px;
    }
    .attr-nav > ul > li > a {
        padding: 12px 15px 15px;
        font-size: 22px;
    }
    nav.navbar.bootsnav.navbar-mobile .navbar-collapse {
        background: #24252f;
    }
    nav.navbar.bootsnav.navbar-mobile ul.nav {
        border-top: 0;
    }
    /* Navbar Mobile slide ------*/
    nav.navbar.bootsnav.navbar-mobile ul.nav > li > a {
        border: 0;
        font-weight: 600;
        font-size: 17px;
        padding: 10px 15px;
    }
    nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a,
    nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title,
    nav.navbar.bootsnav .dropdown .megamenu-content .col-menu ul > li > a {
        border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    }
    nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a {
        color: #969696;
        font-weight: 600;
    }
    nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title{
        color: #9a9a9a;
        font-size: 14px;
        font-weight: 500;
    }
    nav.navbar.bootsnav .dropdown .megamenu-content .col-menu ul > li > a {
        font-weight: 500;
        color: #9a9a9a;
    }
    nav.navbar.navbar-mobile ul.nav ul.dropdown-menu > li > a {
        padding-right: 15px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    nav.navbar.navbar-mobile ul.nav ul.dropdown-menu .col-menu .title {
        padding-right: 30px !important;
        padding-top: 13px !important;
        padding-bottom: 13px !important;
    }
    nav.navbar.navbar-mobile ul.nav ul.dropdown-menu .col-menu ul.menu-col li a {
        padding-top: 13px !important;
        padding-bottom: 13px !important;
    }
    /* Navbar Full ------*/
    nav.navbar-full .navbar-brand {
        top: 0;
        padding-top: 10px;
    }
    /* Navbar Logo ------*/
    nav.navbar.bootsnav .navbar-brand {
        padding: 2px 15px;
    }
    /* Navbar Toggle ------*/
    nav.navbar.bootsnav .navbar-toggle {
        color: #1b1c26;
        font-size: 22px;
        margin-top: 8px;
    }
}


/* Navbar Inverse
=================================*/

nav.navbar.navbar-inverse {
    background-color: #222;
    border-bottom: solid 1px #303030;
}

nav.navbar.navbar-inverse ul.cart-list > li.total > .btn {
    border-bottom: solid 1px #222 !important;
}

nav.navbar.navbar-inverse ul.cart-list > li.total .pull-right {
    color: #fff;
}

nav.navbar.navbar-inverse.megamenu ul.dropdown-menu.megamenu-content .content ul.menu-col li a,
nav.navbar.navbar-inverse ul.nav > li > a {
    color: #eee;
}

nav.navbar.navbar-inverse ul.nav > li.dropdown > a {
    background-color: #222;
}

nav.navbar.navbar-inverse li.dropdown ul.dropdown-menu > li > a {
    color: #999;
}

nav.navbar.navbar-inverse ul.nav .dropdown-menu h1,
nav.navbar.navbar-inverse ul.nav .dropdown-menu h2,
nav.navbar.navbar-inverse ul.nav .dropdown-menu h3,
nav.navbar.navbar-inverse ul.nav .dropdown-menu h4,
nav.navbar.navbar-inverse ul.nav .dropdown-menu h5,
nav.navbar.navbar-inverse ul.nav .dropdown-menu h6 {
    color: #fff;
}

nav.navbar.navbar-inverse .form-control {
    background-color: #333;
    border-color: #303030;
    color: #fff;
}

nav.navbar.navbar-inverse .attr-nav > ul > li > a {
    color: #eee;
}

nav.navbar.navbar-inverse .attr-nav > ul > li.dropdown ul.dropdown-menu {
    background-color: #222;
    border-left: solid 1px #303030;
    border-bottom: solid 1px #303030;
    border-right: solid 1px #303030;
}

nav.navbar.navbar-inverse ul.cart-list > li {
    border-bottom: solid 1px #303030;
    color: #eee;
}

nav.navbar.navbar-inverse ul.cart-list > li img {
    border: solid 1px #303030;
}

nav.navbar.navbar-inverse ul.cart-list > li.total {
    background-color: #333;
}

nav.navbar.navbar-inverse .share ul > li > a {
    background-color: #555;
}

nav.navbar.navbar-inverse .dropdown-tabs .tab-menu {
    border-right: solid 1px #303030;
}

nav.navbar.navbar-inverse .dropdown-tabs .tab-menu > ul > li > a {
    border-bottom: solid 1px #303030;
}

nav.navbar.navbar-inverse .dropdown-tabs .tab-content {
    border-left: solid 1px #303030;
}

nav.navbar.navbar-inverse .dropdown-tabs .tab-menu > ul > li > a:hover,
nav.navbar.navbar-inverse .dropdown-tabs .tab-menu > ul > li > a:focus,
nav.navbar.navbar-inverse .dropdown-tabs .tab-menu > ul > li.active > a {
    background-color: #333 !important;
}

nav.navbar-inverse.navbar-full ul.nav > li > a {
    border: none;
}

nav.navbar-inverse.navbar-full .navbar-collapse .wrap-full-menu {
    background-color: #222;
}

nav.navbar-inverse.navbar-full .navbar-toggle {
    background-color: #222 !important;
    color: #6f6f6f;
}

@media (min-width: 1024px) {
    nav.navbar.navbar-inverse ul.nav .dropdown-menu {
        background-color: #222 !important;
        border-left: solid 1px #303030 !important;
        border-bottom: solid 1px #303030 !important;
        border-right: solid 1px #303030 !important;
    }
    nav.navbar.navbar-inverse li.dropdown ul.dropdown-menu > li > a {
        border-bottom: solid 1px #303030;
    }
    nav.navbar.navbar-inverse ul.dropdown-menu.megamenu-content .col-menu {
        border-left: solid 1px #303030;
        border-right: solid 1px #303030;
    }
    nav.navbar.navbar-inverse.navbar-transparent.dark {
        background-color: rgba(0, 0, 0, 0.3);
        border-bottom: solid 1px #999;
    }
    nav.navbar.navbar-inverse.navbar-transparent.dark .attr-nav {
        border-left: solid 1px #999;
    }
    nav.navbar.navbar-inverse.no-background.white .attr-nav > ul > li > a,
    nav.navbar.navbar-inverse.navbar-transparent.dark .attr-nav > ul > li > a,
    nav.navbar.navbar-inverse.navbar-transparent.dark ul.nav > li > a,
    nav.navbar.navbar-inverse.no-background.white ul.nav > li > a {
        color: #fff;
    }
    nav.navbar.navbar-inverse.no-background.dark .attr-nav > ul > li > a,
    nav.navbar.navbar-inverse.no-background.dark .attr-nav > ul > li > a,
    nav.navbar.navbar-inverse.no-background.dark ul.nav > li > a,
    nav.navbar.navbar-inverse.no-background.dark ul.nav > li > a {
        color: #3f3f3f;
    }
}

@media (max-width: 992px) {
    nav.navbar.navbar-inverse .navbar-toggle {
        color: #eee;
        background-color: #222 !important;
    }
    nav.navbar.navbar-inverse .navbar-nav > li > a {
        border-top: solid 1px #303030;
        border-bottom: solid 1px #303030;
    }
    nav.navbar.navbar-inverse ul.nav li.dropdown ul.dropdown-menu > li > a {
        color: #999;
        border-bottom: solid 1px #303030;
    }
    nav.navbar.navbar-inverse .dropdown .megamenu-content .col-menu .title {
        border-bottom: solid 1px #303030;
        color: #eee;
    }
    nav.navbar.navbar-inverse .dropdown .megamenu-content .col-menu ul > li > a {
        border-bottom: solid 1px #303030;
        color: #999 !important;
    }
    nav.navbar.navbar-inverse .dropdown .megamenu-content .col-menu.on:last-child .title {
        border-bottom: solid 1px #303030;
    }
    nav.navbar.navbar-inverse .dropdown-tabs .tab-menu > ul {
        border-top: solid 1px #303030;
    }
    nav.navbar.navbar-inverse.navbar-mobile .navbar-collapse {
        background-color: #222;
    }
}

@media (max-width: 767px) {
    nav.navbar.navbar-inverse.navbar-mobile ul.nav {
        border-top: solid 1px #222;
    }
}


/*** 04. NewsTicker
------------------------------------------------------------------------------*/

.newstricker_inner {
    position: relative;
    line-height: 30px;
    margin: 20px 0;
    padding: 0 0 0 125px;
}

.trending {
    background-color: #1b1c26;
    color: #fff;
    position: absolute;
    left: 0;
    font-size: 11px;
    padding: 0 12px 0 11px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

.trending::after {
    content: '';
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 8px solid #1b1c26;
    border-bottom: 15px solid transparent;
    position: absolute;
    right: -8px;
}

#NewsTicker .item a {
    font-size: 15px
}

#NewsTicker.owl-carousel {
    overflow: hidden;
    height: 30px;
}

#NewsTicker.owl-theme .owl-controls .owl-buttons div {
    top: 0 !important;
}

@media (max-width: 767px) {
    #NewsTicker .item a {
        font-size: 14px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
    }
    #NewsTicker.owl-theme .owl-controls {
        display: none !important;
    }
}


/*** 05. Slider
------------------------------------------------------------------------------*/

.slider-inner {
    position: relative;
    margin-bottom: 48px;
}

.slider-inner-dua {
    position: relative;
    margin-bottom: 20px;
}

#owl-slider .item img {
    display: block;
    width: 100%;
}

.sub-post {
    position: relative;
    padding: 7px;
}


/*figure{
    float: left;
    margin: 4px 18px 0 0;
}*/

figure img {
    width: 100%;
}


/* Slider control ------*/

.owl-theme .owl-controls {
    margin-top: 0;
}

.owl-pagination {
    position: absolute;
    bottom: 15px;
    right: 50%;
    width: 100%;
    transform: translate(-50%, 0%);
    left: 50%;
    line-height: 1;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 8px;
    height: 8px;
    margin: 3px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #fff;
}

#owl-slider.owl-theme .owl-controls .owl-buttons div {
    padding: 2px;
    top: 44%;
    line-height: 2.6;
    opacity: 1;
    height: 50px;
    width: 35px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    margin: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    display: none;
    border-radius: 0;
    font-size: 20px;
    text-align: center;
}

#owl-slider.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: 0px;
}

#owl-slider.owl-theme .owl-controls .owl-buttons .owl-next {
    right: 0px;
}

#owl-slider.owl-theme .owl-controls .owl-buttons div:hover {
    background-color: #eb0254;
}

.slider-wrapper:hover #owl-slider.owl-theme .owl-controls .owl-buttons div {
    display: block;
}

@media(max-width:767px) {
    #owl-slider.owl-theme .owl-controls .owl-buttons div {
        line-height: 3;
        height: 40px;
        width: 25px;
        background-color: rgba(0, 0, 0, 0.7);
        font-size: 13px;
    }
    .owl-pagination {
        right: 39%;
    }
}

@media(min-width:768px) and (max-width:991px) {
    #owl-slider.owl-theme .owl-controls .owl-buttons div {
        top: 41%;
    }
}

.slider-post {
    position: relative;
}

.post-height-1 {
    height: 460px;
}

.post-height-1 .news-image img {
    width: 100%;
    height: 460px;
}

.post-height-2 {
    height: 229px;
    margin-bottom: 2px;
    margin-left: 2px;
}


/*.post-height-3 {
    height: 460px;
    margin-left: 2px;
}*/

.post-height-3 {
    height: 460px;
    margin-left: 2px;
    line-height: 0;
    overflow: hidden;
}

.post-height-4 {
    height: 229px;
    margin-bottom: 2px;
    margin-right: 2px;
}

.news-image {
    z-index: 1;
    display: block;
}


/*.slider-right-post .post-height-3 .news-image img {
    width: 100%;
    height: 460px;
}*/

.slider-right-post .post-height-3 .news-image img {
    margin: 0 auto;
    opacity: .9;
    position: absolute;
    left: -10030px;
    right: -9999px;
    width: auto;
    height: 460px;
}

.slider-right-post .news-image img {
    width: 100%;
    height: 229px;
}

.news-content {
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 30px 20px;
}

.post-text {
    padding: 40px 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    pointer-events: none;
    background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, .7) 100%);
    background-image: -ms-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, .7) 100%);
    background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, .7) 100%);
    background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, .7) 100%);
    background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7)));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, .7) 100%);
}

.post-category {
    clear: both;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 7px;
    padding: 0px 8px;
    background-color: #eb0254;
    letter-spacing: 0.5px;
    line-height: 18px;
}

.post-text h2,
.post-text h4 {
    color: #fff;
    margin: 0 0 10px;
    font-weight: 300;
    -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    -ms-text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    -o-text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    width: 100%;
	font-size:15px;
}

.post-text h2 a,
.post-text h4 a {
    color: #fff;
}

.post-text .authar-info {
    margin: 0
}

.post-text .authar-info li,
.post-text .authar-info li a {
    color: #fff;
}

.slider-right-post .post-text {
    padding: 15px
}

@media(max-width:767px) {
    .slider-inner .container {
        padding: 0 !important;
    }
    .post-height-1 {
        height: auto;
    }
    .post-height-1 .news-image img {
        height: 210px;
    }
    .post-text {
        padding: 10px 10px 40px;
    }
    .post-text h2,
    .post-text h4 {
        font-size: 13px;
font-weight: 400;
line-height: 15px;
    }

.post-info-2 > h2{
    line-height: 15px;
    margin-top: -5px;
	margin-bottom: 10px;
}
	
.post-text h2, .post-text h4{
margin: 0 0 0px;
}

.post-info-2 > h2 > .title{
margin-bottom: 10px;
font-size: 14px;
font-weight: 500;
}

    .post-height-2,
    .slider-right-post .news-image img,
    .post-height-4 {
        height: 120px;
    }
    .post-height-3 {
        height: 135px;
    }
    .slider-right-post .post-height-3 .news-image img {
        min-width: 0;
        position: relative;
        left: auto;
        right: auto;
        width: 100%;
        height: 166px;
    }
    .post-height-2,
    .post-height-3,
    .post-height-4 {
        margin: 0;
    }
    .slider-right-post .post-text {
        padding: 10px;
    }
    .post-category {
        font-size: 12px;
        font-weight: 500;
        padding: 0px 7px;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .post-height-1,
    .post-height-1 .news-image img,
    .post-height-3,
    .slider-right-post .post-height-3 .news-image img {
        height: 320px;
    }
    .post-text {
        padding: 40px 15px;
    }
    .post-text h2 {
        font-size: 18px;
        line-height: 23px;
    }
    .post-text h4 {
        font-size: 16px;
        line-height: 21px;
    }
    .post-height-2,
    .post-height-4,
    .slider-right-post .news-image img {
        height: 159px;
    }
    .slider-right-post .post-text {
        padding: 15px;
    }
}


/*** 06. All Post
------------------------------------------------------------------------------*/


/* Post header ------*/

.post-head {
    background: #fff;
    padding: 15px;
    position: relative;
    border-bottom: 1px solid #e0e0e0;
}

.home_seven .post-head,
.home_seven .panel_header {
    padding: 0 0 10px;
    border-bottom: 2px solid #eb0254;
}

.home_seven .post-inner-2 .post-head {
    border-color: #008900;
}

.post-head .title,
.panel_header h4 {
    color: #000;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.filter-nav {
    color: #929292;
    float: right;
    margin-right: 63px;
    margin-top: 3px;
}

.filter-nav ul {
    font-size: 13px;
    font-weight: 400;
    padding: 0 10px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
}

.filter-nav ul li {
    display: inline-block;
    text-align: center;
}

.filter-nav ul a {
    color: inherit;
    padding: 0 10px;
    text-decoration: none;
    letter-spacing: 0.5px;
}

.filter-nav ul a:hover,
.filter-nav ul a.active {
    color: #eb0254;
}

.filter-nav ul a.active {
    font-weight: 600;
}

@media(min-width:0px) and (max-width:1199px) {
    .filter-nav {
        display: none;
    }
}


/*post*/

.bord-righ {
    border-right: 1px solid #d2d2d2
}

#NewsTicker.owl-theme .owl-controls .owl-buttons div,
#post-slider.owl-theme .owl-controls .owl-buttons div,
#post-slider-2.owl-theme .owl-controls .owl-buttons div,
#post-slider-3.owl-theme .owl-controls .owl-buttons div {
    padding: 2px;
    position: absolute;
    line-height: 2.4;
    opacity: 1;
    height: 30px;
    width: 30px;
    background: transparent;
    border: 1px solid #d2d2d2;
    position: absolute;
    margin: 0;
    top: -59px;
    color: #777;
    font-size: 11px;
    text-align: center;
}

.home_seven #post-slider.owl-theme .owl-controls .owl-buttons div,
.home_seven #post-slider-2.owl-theme .owl-controls .owl-buttons div {
    top: -17%;
}

#NewsTicker.owl-theme .owl-controls .owl-buttons div:hover,
#post-slider.owl-theme .owl-controls .owl-buttons div:hover,
#post-slider.owl-theme .owl-controls .owl-buttons div:hover,
#post-slider-3.owl-theme .owl-controls .owl-buttons div:hover {
    background: #eb0254;
    border: 1px solid #eb0254;
    color: #fff;
}

#post-slider-2.owl-theme .owl-controls .owl-buttons div:hover {
    background: #008900;
    border: 1px solid #008900;
    color: #fff;
}

#NewsTicker.owl-theme .owl-controls .owl-buttons .owl-prev,
#post-slider.owl-theme .owl-controls .owl-buttons .owl-prev,
#post-slider-2.owl-theme .owl-controls .owl-buttons .owl-prev,
#post-slider-3.owl-theme .owl-controls .owl-buttons .owl-prev {
    right: 34px;
}

#NewsTicker.owl-theme .owl-controls .owl-buttons .owl-next,
#post-slider.owl-theme .owl-controls .owl-buttons .owl-next,
#post-slider-2.owl-theme .owl-controls .owl-buttons .owl-next,
#post-slider-3.owl-theme .owl-controls .owl-buttons .owl-next {
    right: 0px;
}

article {
    margin-bottom: 30px;
}

figure {
    position: relative;
}


/*.category {
    position: absolute;
    background-color: #cb2028;
    padding: 1px 10px;
    color: #fff;
    left: 10px;
    bottom: 10px;
}*/

article figure .post-category {
    position: absolute;
    left: 15px;
    top: 15px;
}

.post-info {
position: relative;
margin: -50px 10px 0;
background: #fff;
padding: 1px 10px 0;
}

.post-info h3 {
    font-size: 18px;
    line-height: 25px;
	margin-top:5px;
}


/*article:hover .post-info h3 a {
    color: #ff680d;
    text-decoration: none;
}*/

.post-info .authar-info {
    margin-bottom: 15px
}

.news-list-item {
    display: table;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0;
}

.news-list-item:first-child {
    padding-top: 0;
}

.news-list-item:last-child {
    padding-bottom: 0;
}

.home_seven .news-list-item,
.home_seven .post-grid {
    border: 0;
}

.news-list-item:last-child,
.footer-news-grid .news-list-item:last-child {
    border-bottom: 0px;
}

.news-list-item .img-wrapper {
    position: relative;
    width: 100px;
    max-width: 100px;
}

.link-icon {
    bottom: 0;
    right: 0;
    color: #fff;
    height: 24px;
    width: 28px;
    position: absolute;
    padding: 4px 8px;
    background-color: #eb0254;
    font-size: 12px;
    text-align: center;
}

.post-info-2 {
    position: relative;
    display: table-cell;
    width: auto;
    vertical-align: top;
    padding: 0 0 0 15px;
}

.post-info-2 h5 {
    margin-top: 0;
    line-height: 20px;
    font-size: 15px;
}

.authar-info {
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    padding: 0;
    list-style: none;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}

.news-list-item .post-info-2 .authar-info {
    line-height: 1;
    margin-top: 5px;
}

.news-grid-2 .row-margin {
    margin-left: -7.5px;
    margin-right: -7.5px;
}

.news-grid-2 .col-padding {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

@media(min-width:768px) {
    .bord-right {
        border-right: 1px solid #e0e0e0
    }
    .home_seven .bord-right {
        border-right: 0
    }
}

@media(max-width:767px) {
    #NewsTicker.owl-theme .owl-controls .owl-buttons div,
    #post-slider.owl-theme .owl-controls .owl-buttons div,
    #post-slider-2.owl-theme .owl-controls .owl-buttons div,
    #post-slider-3.owl-theme .owl-controls .owl-buttons div {
        top: -53px;
    }
    .home_seven #post-slider.owl-theme .owl-controls .owl-buttons div,
    .home_seven #post-slider-2.owl-theme .owl-controls .owl-buttons div {
        top: -68px;
    }
    .post-info h3 {
        font-size: 14px;
        font-weight: 400;
    	line-height: 20px;
    }
    .news-grid-2 .row-margin {
        margin-left: -5px !important;
        margin-right: -5px !important;
    }
    .news-grid-2 .col-padding {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}

.grid-item {
    margin-bottom: 15px;
}

.grid-item h5 {
    font-size: 15px;
    line-height: 18px;
}

.grid-item .grid-item-img {
    position: relative;
}

.grid-item .grid-item-img img {
    width: 100%;
}

.grid-item .title {
    margin: 5px 0;
}

.authar-info li {
    line-height: 18px;
    position: relative;
    display: inline-block;
    padding: 0 6px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    color: #9a9a9a;
}

.authar-info li:first-child {
    padding-left: 0;
}

.authar-info li a {
    color: #9a9a9a;
}

.authar-info i {
    margin-right: 2px;
    font-size: 12px;
    font-weight: 600;
}

.authar-info li + li::before {
    font-family: 'FontAwesome';
    font-size: 12px;
    position: absolute;
    left: -6px;
    content: '--';
    color: #9a9a9a;
    top: -1px;
}

@media(min-width:768px) and (max-width:1199px) {
    .authar-info li {
        font-size: 13px;
        line-height: 18px;
    }
    .reviews-reatting {
        font-size: 12px;
    }
}


/* Post footer ------*/

.post-footer {
    background: #fff;
    border-top: 1px solid #e0e0e0;
}

.home_seven .post-footer {
    border: 1px solid #e0e0e0;
    /*box-shadow: 0 1px 3px rgba(0,0,0,.1);*/
}

.post-footer .more-btn {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.post-footer .more-btn:hover {
    color: #eb0254;
}

.post-footer .social {
    padding: 10px 20px 10px;
    border-left: 1px solid #e0e0e0;
}

.post-footer .social ul {
    text-align: center;
    margin: 0;
}

.post-footer .social ul li {
    list-style: none outside none;
    display: inline-block;
    position: relative;
}

.post-footer .social ul li a {
    color: rgba(35, 35, 35, 0.6);
}

.post-footer .social i {
    font-size: 18px;
    text-align: center;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    margin-right: 7px;
    cursor: pointer;
}

.post-footer .social i:hover {
    color: #eb0254;
    text-decoration: none;
}


/* Share Buttons ------*/

.transition,
.transition img,
.transition a,
.transition i,
.transition li,
.transition span {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.share {
    text-align: right;
    position: absolute;
    right: 0;
    bottom: -5px;
    width: 150px;
    height: 24px;
    overflow: hidden;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

.share .ico {
    font-size: 18px;
    position: absolute;
    top: -1px;
    right: -35px;
    display: inline-block;
    z-index: 2;
}

.share:hover .fb {
    color: #78A4DD;
    right: 25px;
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.share:hover .tw {
    color: #53B9FD;
    right: 50px;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.share:hover .gp {
    color: #FC5B5B;
    right: 80px;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.share:hover .pin {
    color: #F35359;
    right: 120px;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
}


/*.share:hover .ico-share {
    left: -150px;
    -webkit-transform: scale(1.25);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}*/

@media(min-width:768px) and (max-width:1199px) {
    .home_seven .news-list-item {
        padding: 10px 0;
    }
    .post-info h3 {
        font-size: 19px;
        font-weight: 400;
        line-height: 23px;
    }
    .news-list-item .img-wrapper {
        width: 90px;
    }
    .post-info-2 h5,
    .grid-item h5 {
        font-size: 13px;
        margin-bottom: 5px;
    }
    .news-list-item .post-info-2 .authar-info {
        margin-bottom: 0;
    }
	
	.news-list-item:last-child,
.footer-news-grid .news-list-item:last-child {
    width:100%;
}
}


/* Post-slider-1 color ------*/

article:hover .post-info h3 a,
.news-list-item:hover .post-info-2 h5 a,
.news-list-item:hover .post-info-2 h4 a {
    color: #eb0254 !important;
}


/* Post-slider-2 color ------*/

.post-inner-2 .post-category,
#post-slider-2 .link-icon {
    background-color: #008900;
}

.post-inner-2 .filter-nav ul a:hover,
.post-inner-2 .filter-nav ul a.active,
.post-inner-2 article:hover h3 a,
.grid-item:hover h5 a,
.post-inner-2 .post-footer .more-btn:hover,
.post-inner-2 .post-footer .social i:hover {
    color: #008900 !important;
}


/*** 07. Weather Widget
------------------------------------------------------------------------------*/

.weather-week .list-group {
    margin-bottom: 0;
}

.weather-week .list-group-item {
    color: #333333;
    text-align: center;
    font-size: 15px;
    padding: 12px;
    border-radius: 0 !important;
    border-color: #e0e0e0;
    border-width: 1px 1px 1px 0px;
}

.weather-week .list-group a:first-child {
    border-top: 0;
}

.weather-week .list-group a:last-child {
    border-bottom: 0;
}

.list-group-item i {
    font-size: 26px;
    line-height: 25px;
}

.weather-week .list-group > a.active,
.weather-week .list-group > a.active .glyphicon,
.weather-week .list-group > a.active .fa {
    background-color: transparent;
    color: #eb0254;
    border-color: #e0e0e0;
    border-radius: 0;
}

div.bhoechie-tab .weather-temp-wrap:not(.active) {
    display: none;
}

.weather-wrapper {
    position: relative;
    background-color: #fff;
}

.weather-temp-wrap {
    color: #000 !important;
    text-align: left;
    position: relative;
    padding: 30px 20px;
}

.city-day .city {
    font-size: 21px;
    font-weight: bold;
}

.weather-icon {
    padding: 12% 20px;
    position: relative;
    display: table;
}

.weather-icon i {
    font-size: 80px;
    line-height: 80px;
    position: relative;
    display: table-cell;
    padding: 0 15px 0 0;
}

.main-temp {
    font-size: 40px;
    font-weight: 600;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.break .wind-condition,
.break .humidity {
    font-size: 14px;
    margin-top: 2px
}

@media (max-width: 767px) {
    .weather-week .list-group-item {
        font-size: 11px;
        height: 75px;
    }
    .weather-icon {
        padding: 9% 20px;
    }
    .weather-icon i {
        font-size: 60px;
    }
    .main-temp {
        font-size: 30px;
    }
}

@media(min-width:768px) and (max-width:1199px) {
    .weather-week .list-group-item {
        font-size: 12px;
        padding: 8px;
    }
    .weather-temp-wrap {
        padding: 10px;
    }
    .weather-icon i {
        font-size: 50px;
    }
    .main-temp {
        font-size: 20px;
    }
}


/*** 08. Weather Widget (Two)
------------------------------------------------------------------------------*/

.weather-wrapper-2 {
    position: relative;
    text-align: center;
    color: #fff;
    background: 50% 50% no-repeat;
    background-size: cover;
    background-color: #fa424a;
    background-image: url(../images/statistic-box-red.png);
}

.weather-wrapper-2.weather-bg-2 {
    background-image: url(../images/wethear-bg.jpg);
}


/*.weather-wrapper-2::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(1,183,255,0.1);
}*/

.weather-temperature {
    width: 100%;
    padding: 50px 10px 0px;
    display: flex;
}

.weather-now {
    text-align: right;
    line-height: 1;
    font-weight: 300;
    width: 50%;
}

.weather-now .big-degrees {
    font-size: 70px;
    font-weight: 500;
}

.weather-now .circle {
    font-size: 70px;
    position: relative;
    top: -6px;
    line-height: 1;
    vertical-align: top;
}

.weather-now .weather-unit {
    font-size: 16px;
    position: relative;
    top: -4px;
    font-weight: 400;
    opacity: .6;
    left: -2px;
    line-height: 1;
    vertical-align: top;
}

.weather-icon-2 {
    text-align: left;
    position: relative;
    width: 50%;
}

.weather-icon-2 i {
    font-size: 70px;
}

.weather-info {
    padding: 20px 10px;
}

.weather-info .weather-name,
.weather-footer .weather-date {
    font-size: 21px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.weather-week-2 {
    display: flex;
    font-family: 'Roboto', sans-serif;
    padding: 15px 20px;
    width: 100%;
    line-height: 1;
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
}

.weather-days {
    width: 14.28%;
    text-align: center;
    text-transform: uppercase;
}

.weather-days .day-0,
.weather-days .day-1,
.weather-days .day-2,
.weather-days .day-3,
.weather-days .day-4,
.weather-days .day-5,
.weather-days .day-6 {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
}

.day-icon {
    margin-bottom: 10px;
}

.day-icon i {
    font-size: 21px;
}

.weather-days .day-degrees {
    font-size: 15px;
    position: relative;
    left: 4px;
    line-height: 14px;
    opacity: .7;
}

.weather-days .circle {
    position: relative;
    right: 5px;
}

.weather-footer {
    padding: 15px 10px 30px;
}

@media(min-width:768px) and (max-width:1199px) {
    .weather-temperature {
        padding: 30px 10px 0px;
    }
    .weather-now .big-degrees,
    .weather-now .circle,
    .weather-icon-2 i {
        font-size: 45px;
    }
    .weather-week-2 {
        padding: 15px 10px;
    }
    .weather-info .weather-name,
    .weather-footer .weather-date {
        font-size: 17px;
    }
}


/*** 09. Social Icon
------------------------------------------------------------------------------*/

.home_seven .social-media-inner {
    margin-bottom: 20px;
}

.social-media {
    margin-left: -10px;
}

.social-media li {
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
}

.social-media li a {
    padding: 20px 10px;
    text-align: center;
    display: inline-block;
    min-width: 106.6px;
    background: #fff;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

@media (min-width: 1200px) {
    .home_seven .social-media li a {
        padding: 15px 10px;
        min-width: 96.6px;
    }
}

.social-media li a i {
    font-size: 24px;
}

.social-media li .rss,
.home_six .social-media li .rss:hover,
.home_seven .social-media li .rss:hover {
    color: #ff680d;
}

.social-media li .rss:hover {
    color: #fff;
    background-color: #ff680d;
}

.home_six .social-media li .rss,
.home_seven .social-media li .rss {
    color: #fff;
    background-color: #ff680d;
}

.home_six .social-media li .rss:hover,
.home_six .social-media li .fb:hover,
.home_six .social-media li .g_plus:hover,
.home_six .social-media li .you_tube:hover,
.home_six .social-media li .twitter:hover,
.home_six .social-media li .pint:hover,
.home_seven .social-media li .rss:hover,
.home_seven .social-media li .fb:hover,
.home_seven .social-media li .g_plus:hover,
.home_seven .social-media li .you_tube:hover,
.home_seven .social-media li .twitter:hover,
.home_seven .social-media li .pint:hover {
    background-color: #edeff4;
}

.social-media li .fb,
.home_six .social-media li .fb:hover,
.home_seven .social-media li .fb:hover {
    color: #4c66a3;
}

.social-media li .fb:hover {
    color: #fff;
    background-color: #4c66a3;
}

.home_six .social-media li .fb,
.home_seven .social-media li .fb {
    color: #fff;
    background-color: #4c66a3;
}

.social-media li .g_plus,
.home_six .social-media li .g_plus:hover,
.home_seven .social-media li .g_plus:hover {
    color: #cf3e28;
}

.social-media li .g_plus:hover {
    color: #fff;
    background-color: #cf3e28;
}

.home_six .social-media li .g_plus,
.home_seven .social-media li .g_plus {
    color: #fff;
    background-color: #cf3e28;
}

.social-media li .you_tube,
.home_six .social-media li .you_tube:hover,
.home_seven .social-media li .you_tube:hover {
    color: #e42c27;
}

.social-media li .you_tube:hover {
    background-color: #e42c27;
    color: #fff;
}

.home_six .social-media li .you_tube,
.home_seven .social-media li .you_tube {
    background-color: #e42c27;
    color: #fff;
}

.social-media li .twitter,
.home_six .social-media li .twitter:hover,
.home_seven .social-media li .twitter:hover {
    color: #2fc2ee;
}

.social-media li .twitter:hover {
    background-color: #2fc2ee;
    color: #fff;
}

.home_six .social-media li .twitter,
.home_seven .social-media li .twitter {
    background-color: #2fc2ee;
    color: #fff;
}

.social-media li .pint,
.home_six .social-media li .pint:hover,
.home_seven .social-media li .pint:hover {
    color: #cb2028;
}

.social-media li .pint:hover {
    background-color: #cb2028;
    color: #fff;
}

.home_six .social-media li .pint,
.home_seven .social-media li .pint {
    background-color: #cb2028;
    color: #fff;
}

.social-media li a div {
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
    font-size: 26px;
}

.social-media li p {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 0;
    letter-spacing: 0.5px;
}

@media(min-width:0px) and (max-width:1199px) {
    .social-media-inner {
        margin-bottom: 5px;
    }
    .social-media {
        width: 101.9%;
        margin-left: -5px;
    }
    .social-media li {
        width: 31.6%;
        margin-bottom: 5px;
        margin-left: 5px;
    }
    .home_seven .social-media li {
        width: 31%;
    }
    .social-media li a {
        min-width: auto;
        width: 100%;
    }
    .social-media li a div {
        font-size: 21px;
    }
    .home_seven .social-media li a div {
        font-size: 19px;
    }
    .social-media li p {
        font-size: 10px;
    }
    .home_seven .social-media li p {
        font-size: 9px;
    }
}

@media(min-width:768px) and (max-width:1199px) {
    .social-media li {
        width: 31.2%;
    }
    .social-media li a {
        padding: 15px 5px;
    }
}


/*** 10. Tabs
------------------------------------------------------------------------------*/

.tabs-wrapper {
    position: relative;
    background-color: #fff;
}

.nav-tabs {
    border-bottom: 0;
    width: 100%
}

.nav-tabs>li {
    width: 50%;
font-size:16px;
}

.nav-tabs>li>a {
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 15px;
    border-radius: 0;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #fff;
    background-color: #16224d;
    border: 1px solid #fff;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: #fff;
}

.nav-tabs>li>a:hover {
    border-color: #fff;
}

.most-viewed,
.popular-news {
    padding: 15px;
}

.most-viewed .content li {
    display: block;
    border-bottom: 1px solid #e0e0e0;
    line-height: 20px;
    padding: 20px 0;
}

.most-viewed .content li .count {
    width: 20%;
    float: left;
    color: #888;
    font-size: 35px;
    padding-right: 20px;
    line-height: 24px;
    font-family: Roboto,sans-serif;
    font-weight: 600;
	text-align: center;
}

.most-viewed .content li .text {
    width: 80%;
float: left;
font-size: 15px;
padding-left: 20px;
border-left: 1px solid #aaa;
font-weight: 400;
}

.most-viewed .content li:after {
    content: "";
    display: table;
    clear: both;
}

.most-viewed .content li:last-child,
.p-post:last-child {
    border: 0;
    padding-bottom: 10px;
}

.popular-news {
    text-align: center;
}

.p-post {
    border-bottom: 1px solid #e0e0e0;
    padding: 20px 0;
}

.p-post h4,
.authar-info {
    margin: 0 0 10px;
}

@media(min-width:768px) and (max-width:1199px) {
    .nav-tabs > li > a {
        font-weight: 500;
        padding: 15px 10px;
        font-size: 12px;
    }
    .most-viewed .content li {
        padding: 10px 0;
    }
    .most-viewed .content li .count {
        width: 16%;
        font-size: 30px;
        padding-right: 10px;
    }
    .most-viewed .content li .text {
        width: 84%;
        font-size: 13px;
        padding-left: 10px;
    }
    .p-post {
        padding: 15px 0;
    }
    .p-post h4,
    .authar-info {
        font-size: 13px;
    }
}


/*** 11. Games News
------------------------------------------------------------------------------*/

.panel_inner {
    position: relative;
    background: #fff;
}

.panel_header {
    display: block;
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.panel_body {
    padding: 15px;
}

.home_seven .games-news {
    background-color: #f5f7f9;
    padding: 15px;
}

.games-result-header {
    text-align: center;
    margin-bottom: 15px;
}

.games-result-title {
    margin-bottom: .25em;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 0px;
}

.games-result-date {
    display: block;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    color: #9a9da2;
    letter-spacing: 0.2px;
}

.games-result-main {
    margin-bottom: 6px;
    width: 100%;
    display: table;
}

.games-result-team {
    text-align: center;
    width: 30%;
    float: left;
}

.games-result-team-logo {
    height: 70px;
    display: block;
    position: relative;
}

.games-result-team-logo img {
    display: block;
    margin: 0 auto;
    max-height: 100%;
}

.games-result-team-info {
    padding: 6px 0 0 0;
}

.games-result-team-name {
    font-size: 13px;
    max-width: 85px;
    display: block;
    line-height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 auto 0.1em auto;
    text-transform: uppercase;
    font-weight: 600;
}

.games-result-team-desc {
    display: block;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: 0.3px;
}

.games-result-score-inner {
    text-align: center;
    vertical-align: middle;
    width: 40%;
    float: left;
}

.games-result-score {
    font-size: 23px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 700;
    color: #31404b;
    margin-top: 15px;
}

.games-result-score-result {
    position: relative;
}

.games-result-score-result.winner::before {
    content: "";
    display: block;
    position: absolute;
    left: -20px;
    top: 50%;
    width: 0;
    height: 0;
    border-left: 8px solid #ffdc11;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.games-result-score-result.loser {
    color: #9a9da2;
}

.games-result-score-label {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #31404b;
    line-height: 1.2em;
}

.table {
    margin-bottom: 0;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #e4e7ed;
    font-weight: 700;
    color: #31404b;
    text-transform: uppercase;
    /*background-color: #f5f7f9;*/
    background-color: transparent;
    text-align: center;
}

.table > thead > tr > th:first-child,
.table > tbody > tr > td:first-child,
.table > tbody > tr > th:first-child {
    padding-left: 30px;
    text-align: left;
}

.home_seven .table > thead > tr > th:first-child,
.home_seven .table > tbody > tr > td:first-child,
.home_seven .table > tbody > tr > th:first-child {
    padding-left: 0;
}

.table > tbody > tr > th:first-child {
    font-weight: 600;
}

.table > thead > tr > th:last-child,
.table > tbody > tr > td:last-child,
.table > tbody > tr > th:last-child {
    padding-right: 30px;
    vertical-align: middle;
}

.home_seven .table > thead > tr > th:last-child,
.home_seven .table > tbody > tr > td:last-child,
.home_seven .table > tbody > tr > th:last-child {
    padding-right: 0;
}


/*** 12. Categories Widget
------------------------------------------------------------------------------*/

ul.category-list {
    overflow: hidden;
}

ul.category-list li {
    list-style: none;
    width: 50%;
    float: left;
    margin-bottom: 15px;
}

ul.category-list li:nth-child(2n) {
    padding-left: 15px;
}

ul.category-list li a {
    text-decoration: none;
    display: block;
    padding-bottom: 5px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

ul.category-list li a:hover {
    color: #eb0254;
}

ul.category-list li a span {
    display: inline-block;
    float: right;
    width: 30px;
    height: 20px;
    text-align: center;
    line-height: 18px;
    border: 1px solid #e0e0e0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

ul.category-list li a:hover span {
    color: #fff;
    background-color: #eb0254;
    border: 1px solid #eb0254;
}

@media(min-width:768px) and (max-width:1199px) {
    ul.category-list li {
        margin-bottom: 10px;
        width: 100%;
    }
    ul.category-list li:nth-child(2n+1) {
        display: none;
    }
    ul.category-list li:nth-child(2n) {
        padding-left: 0;
    }
}


/*** 13. Archive Widget (Calender)
------------------------------------------------------------------------------*/

.ui-datepicker {
    width: 100%;
}

.ui-widget.ui-widget-content {
    padding: 0;
    border-radius: 0;
    border: 1px solid #e0e0e0;
    font-family: 'Cormorant Garamond', serif;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: 0.8em 0;
    border-radius: 0;
    background: transparent;
    border-width: 0 0 1px 0;
    font-weight: normal;
    border-color: #e0e0e0;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    top: 18px;
    border: 1px solid #e0e0e0;
    height: 32px;
    width: 32px;
    border-radius: 30px;
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-prev {
    left: 20px;
}

.ui-datepicker .ui-datepicker-next {
    right: 20px;
}

.ui-datepicker .ui-datepicker-title {
    font-size: 24px;
    letter-spacing: 0.5px;
    color: #000;
}

.ui-datepicker th {
    font-size: 19px;
}

.ui-datepicker-month {
    font-weight: 600;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
    padding: 6px 5px;
    text-align: center;
    font-weight: 700;
    font-size: 19px;
    border: 0;
    background: #fff;
}

.ui-state-active,
.ui-widget-content .ui-state-active {
    color: #cb2028 !important;
}

.ui-icon-circle-triangle-w {
    background-position: -96px 0px;
}

.ui-icon-circle-triangle-e {
    background-position: -32px 0px;
}


/*** 14. Poll Widget
------------------------------------------------------------------------------*/

.poll-content h6 {
    line-height: 24px;
    margin: 0;
    color: #111;
    font-size: 21px;
}

.poll-content ul {
    padding: 20px 0 0;
}

.poll-content ul li {
    display: table;
    border: 0;
    padding: 5px 0;
}

.poll-content ul li:first-child {
    padding-top: 0;
}

.poll-content ul li input,
.poll-content ul li label {
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
}

.poll-content ul li label {
    padding-left: 13px;
    color: #888;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.poll-content .btn-news {
    margin-top: 20px;
}

.btn-news {
    color: #fff;
    background-color: #eb0254;
    border-color: #eb0254;
    padding: 6px 15px;
}

.btn-news:hover {
    color: #fff;
    background-color: #1b1c26;
    border-color: #1b1c26;
}

@media(min-width:768px) and (max-width:1199px) {
    .poll-content h6 {
        font-size: 19px;
    }
}


/*** 15. Tags Widget
------------------------------------------------------------------------------*/


/*.tags-inner{padding: 30px;}*/

.ui.tag {
    margin-left: 1em;
    position: relative;
    border-radius: 0 .28571429rem .28571429rem 0;
    -webkit-transition: none;
    transition: none;
    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
    background-color: #E8E8E8;
    background-image: none;
    padding: .5833em 1.5em;
    color: rgba(0, 0, 0, .6);
    text-transform: none;
    border: 0 solid transparent;
    font-size: 13px;
    margin-bottom: 5px;
    cursor: pointer;
}


/*.ui.tag:first-child {margin-left: 0;}*/

.ui.tag::before {
    position: absolute;
    -webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
    transform: translateY(-50%) translateX(50%) rotate(-45deg);
    top: 50%;
    right: 100%;
    content: '';
    background-color: inherit;
    background-image: none;
    width: 1.56em;
    height: 1.56em;
    -webkit-transition: none;
    transition: none;
}

.ui.tag::after {
    position: absolute;
    content: '';
    top: 50%;
    left: -.25em;
    margin-top: -.25em;
    background-color: #FFF !important;
    width: .5em;
    height: .5em;
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, .3);
    border-radius: 500rem;
}

.ui.tag:hover {
    border-color: #eb0254;
    background-color: #eb0254;
    background-image: none;
    color: #fff;
}


/*** 16. Featured News
------------------------------------------------------------------------------*/

.featured-post {
    position: relative;
}

#featured-owl .item {
    margin: 1px;
}

.reatting {
    position: absolute;
    top: 10px;
    right: 12px;
    color: #eb0254;
}

.featured-post .post-text {
    padding: 12px;
}


/*** 17. Youtube
------------------------------------------------------------------------------*/

.playlist-title {
    background-color: #1b1c26;
    padding: 15px;
}

.playlist-title h4 {
    margin: 0;
    color: #fff;
}


/*** 18. More News
------------------------------------------------------------------------------*/

.more-post {
    position: relative;
    margin-bottom: 15px;
}

.more-post .post-text {
    padding: 15px;
}

@media (min-width: 768px) {
    .more-post:last-child {
        margin-bottom: 0;
    }
}


/* Progress ber ------*/

.progressber {
    position: absolute;
    top: 10px;
    right: 10px;
}

.progressber canvas {
    display: inline-block;
    transform: rotate(135deg);
}

.progressber span {
    border-radius: 50%;
    display: inline-block;
    font-size: 18px;
    height: 40px;
    line-height: 38px;
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;
    width: 40px;
    color: #eb0254;
    font-weight: 700;
    font-family: 'Cormorant Garamond', serif;
}

@media(min-width:0px) and (max-width:1199px) {
    .more-post .post-text {
        padding: 10px;
    }
    .more-post .post-text h4 {
        font-size: 15px;
        font-weight: 400;
    }
}


/*** 19. Post Cards News
------------------------------------------------------------------------------*/

.posts {
    background-color: #fff;
}

.posts-thumb {
    float: none;
    margin: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.posts-thumb .post-category {
    display: block;
    position: absolute;
    left: 15px;
    top: 15px;
    margin: 0;
    z-index: 1;
}

.posts ul {
    margin-bottom: 10px;
}

.post-grid .post-category {
    background-color: #4c66a3;
}


/*.posts-cat {
    display: block;
    overflow: hidden;
    margin-bottom: 8px;
    z-index: 1;
}

.post-grid-item .posts-cat {
    display: block;
    position: absolute;
    left: 23px;
    top: 23px;
}*/

.post-grid-item .posts-thumb img {
    width: 100%;
    height: auto;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


/*.posts-cat-label {
    background-color: #ffcc00;
    font-size: 10px;
    padding-top: .6em;
    padding: .5em 1.1em;
    color: #fff;
    text-transform: uppercase;
}*/

.posts-thumb {
    float: none;
    margin: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    overflow: hidden;
}

.posts-thumb:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.posts-inner {
    position: relative;
    padding: 14px 15px;
}

.card-post .posts-inner {
    padding: 30px 15px;
}

.home_seven .card-post .posts-inner {
    padding: 30px 0;
}

.posts-inner .post-category {
    margin: 0
}

.posts-link {
    display: block;
    position: absolute;
    top: 0;
    right: 23px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #4c66a3;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.posts-link::before,
.posts-link::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    -webkit-transition: -webkit-transform 0.25s ease;
    transition: -webkit-transform 0.25s ease;
    transition: transform 0.25s ease;
    transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.posts-link::before {
    width: 17px;
    height: 2px;
}

.posts-link::after {
    width: 2px;
    height: 17px;
}

.posts-link:hover::before,
.posts-link:hover::after {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
}


/*.posts-date {
    display: inline-block;
    text-transform: uppercase;
    line-height: 1.2em;
    font-size: 12px;
    color: #9a9da2;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
}*/

.posts-title {
    font-size: 18px;
    line-height: 24px;
}

.post-grid:hover .posts-title a,
.meta-item a:hover {
    color: #4c66a3;
}

.post-grid-item .posts-title {
    /*margin-bottom: 20px;*/
    margin-top: 13px;
}

.posts-inner p {
    margin: 0;
}

.card-post .posts-inner .authar-info {
    margin-bottom: 19px;
}

.posts__footer {
    padding: 15px;
    border-top: 1px solid #e4e7ed;
    display: table;
    width: 100%;
    height: 100%;
}

.home_seven .posts__footer {
    padding: 5px 10px;
    border: 1px solid #e4e7ed;
}

.post-author {
    display: table-cell;
    width: 45%;
    text-align: left;
}

.post-author-avatar {
    width: 24px;
    height: 24px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 14px 0 0;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}

.post-author-info {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.post-author-name {
    font-size: 12px;
    text-transform: uppercase;
    color: #9a9a9a;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.post-meta {
    display: table-cell;
    width: 55%;
    text-align: right;
}

.meta-item {
    font-size: 13px;
    text-transform: uppercase;
    line-height: 1.2em;
    display: inline-block;
    vertical-align: middle;
    color: #9a9a9a;
}

.meta-item a {
    color: #9a9a9a;
}

.meta-item i {
    margin-right: 5px;
}

.meta-item + .meta-item {
    margin-left: 15px;
}

.post-grid {
    border-bottom: 1px solid #e0e0e0;
}

.post-grid:last-child {
    border-bottom: none;
}

@media (max-width: 767px) {
    .post-author {
        width: 40%;
    }
    .post-meta {
        width: 60%;
    }
}

@media(min-width:768px) and (max-width:1199px) {
    .posts-inner {
        padding: 18px 15px;
    }
    .card-post .posts-inner {
        padding: 10px 15px;
    }
    .post-author {
        width: 100%;
    }
    .post-meta {
        display: none;
    }
}


/*** 20. Articles
------------------------------------------------------------------------------*/


/*.articles-wrapper{
    position: relative;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
}*/

.news-list-item.articles-list .img-wrapper {
    width: 215px;
    max-width: 218px;
}

.articles-list .post-info-2 {
    padding: 0 0 0 20px;
}

.articles-list .post-info-2 h4 {
    margin-top: 0px;
    line-height: 27px;
}

.articles-list .post-info-2 p {
    margin: 0
}

@media (max-width: 767px) {
    .articles-list.news-list-item .img-wrapper {
        width: 95px;
    }
    .articles-list .post-info-2 h4 {
        font-size: 14px;
        line-height: 20px;
    }
    .articles-list .post-info-2 p {
        display: none;
    }
}

@media(min-width:768px) and (max-width:1199px) {
    .articles-list .post-info-2 h4 {
        font-size: 17px;
        line-height: 22px;
        font-weight: 400;
    }
}


/*** 21. Pagination
------------------------------------------------------------------------------*/

.pagination {
    display: inline-block;
    margin: 0;
    float: left;
    padding: 6px 15px;
}

.pagination > li {
    /* display: inline; */
    float: left;
}


/*.pagination > li > a, .pagination > li > span {
    border-radius: 0 !important;
    margin: 0 5px;
    height: 32px;
    width: 32px;
    padding: 5px;
    text-align: center;
    color: #777777;
}*/

.pagination > li > a,
.pagination > li > span {
    border-radius: 0 !important;
    height: 32px;
    width: 32px;
    padding: 6px 8px;
    text-align: center;
    color: #777777;
    border: 0;
    margin: 0 2px;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #eb0254;
    border-color: #eb0254;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #fff;
    background-color: #1b1c26;
    border-color: #1b1c26;
}

.pagination > .disabled > span.extend {
    border: none;
}

@media (max-width: 767px) {
    .pagination > .disabled > span.extend {
        display: none;
    }
}


/*** 22. Footer
------------------------------------------------------------------------------*/

footer {
    position: relative;
    padding: 70px 0;
    background-color: #1b1c26;
}

.about-inner img {
    margin-bottom: 15px;
}

.about-inner p,
.twitter-inner ul li {
    color: #fff;
}

.about-inner li {
    margin: 7px 0;
    color: #fff;
}

.about-inner td {
    padding: 4px 0;
    color: #fff;
}

.about-inner li i {
    margin-right: 10px;
    color: #eb0254;
}

.about-inner td i {
    margin-right: 10px;
    color: #eb0254;
}

.wiget-title {
    color: #fff;
    margin: 0 0 20px 0;
}

.twitter-inner li {
    margin-bottom: 20px;
    line-height: 1.8em;
    font-size: 13px;
}

.twitter-inner li a {
    color: #eb0254;
}

.twitter-inner li span {
    display: block;
    margin-top: 10px;
}

.twitter-inner li span i {
    color: #eb0254;
    margin-right: 7px;
}

.menu-services {
    margin: 0 0 12px 0;
    padding: 0;
    list-style: none;
}

.menu-services li {
    margin-bottom: 6px;
}

.menu-services li::before {
    margin-right: 6px;
    color: #fff;
}

.menu-services li a {
    color: #fff;
}

.menu-services li a:hover {
    color: #eb0254;
}

.footer-news-grid .title {
    color: #fff;
}

.footer-news-grid .news-list-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


/* Sub footer ------*/

.sub-footer {
    background-color: #24252f;
    padding: 10px 0;
    color: #fff;
}

.footer-nav {
    text-align: right;
    margin: 0;
    padding: 0;
}

.footer-nav li {
    display: inline-block;
}

.footer-nav li a {
    color: #fff;
    padding: 0 5px;
}

@media (max-width: 767px) {
    .footer-box {
        margin-bottom: 40px;
    }
    .sub-footer {
        text-align: center;
    }
    .copy {
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        margin-bottom: 10px;
    }
    .footer-nav {
        text-align: center;
    }
}


/*** 23. Category Page
------------------------------------------------------------------------------*/

.page-title {
    margin: 20px 0;
}

.page-title h1 {
    color: #000;
    font-size: 26px;
    font-weight: 400;
    line-height: 25px;
    padding: 0;
    margin: 6px 0;
}

.breadcrumb {
    float: right;
    background: #fff;
    font-size: 13px;
    border-radius: 0;
    border: 1px solid #e7e7e7;
    padding: 8px 15px;
    list-style: none;
    margin: 0;
}

.breadcrumb > li {
    display: inline-block;
}

.header-title .breadcrumb > li > a {
    color: #374767;
    text-decoration: none;
    display: inline-block;
}

.breadcrumb > .active {
    color: #37a000;
    font-weight: 700;
}


/*.breadcrumb > li + li::before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}*/

@media(max-width:767px) {
    .page-title h1 {
        margin: 0 0 10px;
    }
    .breadcrumb {
        float: left;
    }
}


/*** 24. Contact Page
------------------------------------------------------------------------------*/

#map {
    width: 100%;
    height: 300px;
}

.contact_form_inner .comment-form .form-control {
    padding: 15px;
    border-width: 1px;
}

.contact_form_inner .comment-form {
    background-color: #fff;
    padding: 0;
    margin: 15px 0;
}


/*** 25. Details Page
------------------------------------------------------------------------------*/

.post_details_inner {
    margin-bottom: 10px;
}

.post_details_block {
    background-color: #fff;
    padding: 15px;
}

.post_details_block h2 {
    color: #111;
    font-weight: 400;
    margin-bottom: 10px;
}

.post_details_block .authar-info {
    margin: 0 0 25px;
}

.post_details_block h1,
.post_details_block h2,
.post_details_block h3,
.post_details_block h4,
.post_details_block h5,
.post_details_block h6,
.post_details_block p {
    margin-top: 0;
    margin-bottom: 8px;
    /*line-height: 26px;*/
}

.post_details_block p {
    font-size: 15px;
    line-height: 21px;
	color: #000;
}

figure.social-icon {
    overflow: hidden;
    text-align: justify;
    margin: -15px -15px 25px;
    position: relative;
}

.details_block3 figure.social-icon {
    margin: 0 -15px 35px;
}

figure.social-icon img {
    max-width: 100%;
    position: relative;
}

figure.social-icon > div {
    height: 100%;
    right: -70px;
    width: 50px;
    position: absolute;
    top: 0;
    padding: 5px;
    color: #ffffff;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

figure.social-icon > div a i {
    display: inline-block;
    font-size: 15px;
    color: #ffffff;
    width: 40px;
    /* padding: 11px 8px; */
    position: relative;
    right: -60px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    background-color: #000;
    margin-bottom: 5px;
    height: 40px;
    line-height: 43px;
    text-align: center;
}

figure.social-icon > div a i.fa-facebook {
    background-color: #4c66a3;
}

figure.social-icon > div a i.fa-twitter {
    background-color: #2fc2ee;
}

figure.social-icon > div a i.fa-google-plus {
    background-color: #cf3e28;
}

figure.social-icon > div a i.fa-linkedin {
    background-color: #0077B5;
}

figure.social-icon > div a i.fa-pinterest-p {
    background-color: #cb2028;
}

figure.social-icon > div a i:hover {
    opacity: .8;
}


/*figure.social-icon:hover img {
    opacity: 0.5;
    left: -60px;
}*/

figure.social-icon:hover > div {
    right: 0;
}

figure.social-icon:hover > div a i {
    right: 0;
}

figure.social-icon:hover a:first-child i {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

figure.social-icon:hover a:nth-child(2) i {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

figure.social-icon:hover a:nth-child(3) i {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

figure.social-icon:hover a:nth-child(4) i {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}

figure.social-icon:hover a:nth-child(5) i {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.article_comment {
    position: relative;
    padding-left: 55px;
    padding-right: 50px;
    margin: 25px 0;
    background-color: #f9f9f9;
    padding-top: 15px;
    padding-bottom: 15px;
}

.article_comment::before {
    content: "\f10e";
    position: absolute;
    top: 15px;
    left: 15px;
    color: #eb0254;
    font-family: FontAwesome;
    font-size: 25px;
}

.article_comment p {
    font-size: 15px;
    margin-bottom: 10px;
}

.customers {
    font-size: 14px;
    line-height: 25px;
    color: rgb(34, 34, 34);
    text-transform: uppercase;
}

.customers span {
    font-size: 13px;
    line-height: 25px;
    text-transform: none;
    font-weight: 400;
}


/* Arrow ------*/

.arrow_list {
    list-style: none;
    margin-left: 15px;
    margin-bottom: 26px;
    padding: 0
}

.arrow_list li {
    font-size: 17px;
    line-height: 26px;
    margin-left: 21px;
}

.arrow_list li::before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0a4";
    float: left;
    margin-left: -25px;
    line-height: 26px;
    font-size: 14px;
    color: #000;
}

.align-left {
    float: left;
    margin: 6px 20px 15px 0;
}


/*details 2*/

.details_block2 figure.social-icon {
    margin: 0 0 35px;
}


/*.post-header .authar-info {
    margin: 0 0 25px;
}*/

.post-header h2 {
    margin-bottom: 10px;
}

.td-category {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.td-category li {
    display: inline-block;
    margin: 0 5px 5px 0;
    line-height: 1;
}

.adaptive {
    margin-bottom: 25px;
    position: relative;
}

.caption-text {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    color: #fff;
    width: 100%;
    bottom: 0;
    left: 0;
}

.post_details_block .dot-list {
    list-style-type: inherit;
    margin-bottom: 25px;
    margin-left: 15px;
}

.post_details_block .dot-list li {
    font-size: 15px;
    line-height: 26px;
}

.post_details_block blockquote {
    margin: 0 0 25px;
    border-left: 0;
}

.post_details_block blockquote p {
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    color: #eb0254;
    word-wrap: break-word;
}

@media(max-width:767px) {
    .post-header h2 {
        font-size: 21px;
    }
}


/*details 3*/

.triangle-list {
    list-style: none;
    margin-bottom: 25px;
}

.triangle-list li {
    padding-left: 22px;
    font-size: 15px;
    /*color: #808080;*/
}

.triangle-list li + li {
    margin-top: 10px;
}

.triangle-list li::before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 22px;
    color: #ccc;
    margin-left: -22px;
}

.triangle-list li::before {
    content: "\f0da";
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 25px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

blockquote {
    border: none;
    padding: 10px;
    margin-bottom: 10px;
}

blockquote.no-sign {
    padding: 0 20px 0 20px;
}


/*blockquote.no-sign p {
    background: -webkit-linear-gradient(330deg, #eb0254 0%, #34d9da 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #eb0254;
}*/

blockquote.no-sign p {
    background: -webkit-linear-gradient(330deg, #eb0254 0%, #34d9da 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #eb0254;
    font-size: 24px;
    line-height: 33px;
    font-style: inherit;
    font-weight: 600;
}


/* comment ------*/

.comments-container {
    padding: 15px;
    margin: 0 0 10px;
    background-color: #fff;
}

.comments-container h3,
.comment-form h3 {
    margin: 0 0 30px;
    color: #000;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
}

.comments-list {
    padding: 0;
    position: relative;
}

.reply-list:before,
.reply-list:after {
    display: none;
}

.comments-list li {
    margin-bottom: 30px;
    display: block;
    position: relative;
}

.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.reply-list {
    padding-left: 50px;
    clear: both;
    margin-top: 30px;
}

.comments-list .comment-avatar {
    width: 70px;
    height: 70px;
    position: relative;
    float: left;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
}

.reply-list .comment-avatar {
    width: 55px;
    height: 55px;
}

.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}

.comments-list .comment-box {
    width: 87%;
    float: right;
    position: relative;
    margin-left: 15px;
}

.comments-list .comment-box::before {
    border-width: 10px 13px 11px 0;
    border-color: transparent rgba(0, 0, 0, 0.08);
    left: -12px;
}

.reply-list .comment-box {
    width: 87%;
}

@media(min-width:768px) and (max-width:1199px) {
    .comments-list .comment-box {
        width: 80%;
    }
    .reply-list {
        margin-top: 30px;
    }
    .reply-list .comment-box {
        width: 82%;
    }
}


/*.comment-box .comment-content {background: #FFF;}*/

.comment-box .comment-content h5 {
    line-height: 25px;
    color: rgb(34, 34, 34);
    text-transform: uppercase;
    margin-top: 0;
}

.comment-header {
    margin-bottom: 15px;
    letter-spacing: 0.1em;
}

.comment-author {
    color: rgb(34, 34, 34);
    text-transform: uppercase;
    margin-top: 0;
    font-style: normal;
    letter-spacing: 0;
}

.comment-datetime {
    margin-left: 15px;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #ababab;
}

.comment-content p {
    margin: 0 0 18px
}

.comment-content .btn-news {
    padding: 2px 15px;
    text-transform: capitalize;
}

.article {
    position: relative;
    padding-left: 36px;
    padding-right: 50px;
    padding-top: 0px;
    margin: 50px 0;
}

.article::before {
    content: "\f10e";
    position: absolute;
    top: 2px;
    left: 0px;
    color: rgb(34, 34, 34);
    font-family: FontAwesome;
    font-size: 25px;
}

.article p {
    font-size: 15px;
    line-height: 27px;
}

.customers {
    font-size: 14px;
    line-height: 25px;
    color: rgb(34, 34, 34);
    text-transform: uppercase;
}

.customers span {
    font-size: 13px;
    line-height: 25px;
    text-transform: none;
    font-weight: 400;
}


/*.separator{height: 4px;width: 100%;margin: 50px auto;background: #fec107;}*/


/*comment form*/

.comment-form {
    background-color: #fff;
    padding: 15px;
    margin: 0 0 10px;
}

.comment-form label {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    color: #eb0254;
}

.comment-form .form-group {
    margin-bottom: 20px
}

.comment-form .form-control {
    box-shadow: none;
    border-radius: 0;
    height: 50px;
    font-size: 13px;
    border-width: 0 0 1px 0;
    padding: 0;
    border-color: #e0e0e0;
    border-style: dotted;
}

.comment-form .form-control:focus {
    border-color: #eb0254;
}

.comment-form textarea.form-control {
    height: auto;
}


/*** 26. Category Style One
------------------------------------------------------------------------------*/

.categoty-style-1 .row-m {
    margin-right: -7.5px;
    margin-left: -7.5px;
}

.categoty-style-1 .col-p {
    padding-right: 7.5px;
    padding-left: 7.5px;
	height:350px;
	margin-bottom: 50px;
}

@media (max-width: 767px) {
	.categoty-style-1 .col-p {
    	padding-right: 7.5px;
    	padding-left: 7.5px;
    	height: auto;
    	margin-bottom: 50px;
	}
}


/*** 27. Home Style Two
------------------------------------------------------------------------------*/

.home-2 .post-head {
    border: 1px solid #e0e0e0;
    margin-bottom: 5px;
}

.home-2 .post-head::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 12px solid #eb0254;
    border-right: 12px solid transparent;
    position: absolute;
    left: 0px;
    top: 0px;
}

.home-2 .post-inner-2 .post-head::before {
    border-top: 12px solid #008900;
}

.home-2 .featured-inner,
.home-2 .post-body,
.home-2 .youtube-wrapper,
.home-2 .add-inner,
.home-2 .archive-wrapper,
.home-2 .tabs-wrapper,
.home-2 .panel_inner,
.home-2 .weather-wrapper,
.home-2 .social-media li a,
.home-2 .posts {
    border: 1px solid #e0e0e0;
}

.home-2 .post-footer {
    border: 1px solid #e0e0e0;
    margin-top: 5px;
}

.home-2 #NewsTicker.owl-theme .owl-controls .owl-buttons div,
.home-2 #post-slider.owl-theme .owl-controls .owl-buttons div,
.home-2 #post-slider-2.owl-theme .owl-controls .owl-buttons div,
.home-2 #post-slider-3.owl-theme .owl-controls .owl-buttons div {
    top: -65px;
}

.home-2 .card-post .posts-inner,
.home_six .card-post .posts-inner {
    padding: 30px 15px;
}

.home-2 .posts-inner,
.home_six .posts-inner {
    padding: 12px 15px;
}


/*** 28. About us page
------------------------------------------------------------------------------*/

.inner-head {
    position: relative;
    width: 100%;
    min-height: auto;
    overflow-y: hidden;
    color: white;
    padding: 70px 0;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.inner-head::before {
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.inner-head h1.entry-title {
    margin-bottom: 17px;
    color: #fff;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
    font-weight: 700;
}

.inner-head .description {
    color: #fff;
    max-width: 770px;
    margin: auto;
    font-size: 15px;
}

.inner-head .breadcrumb {
    margin-top: 20px;
    background-color: transparent;
    border: 0;
    float: none;
}

.inner-head .breadcrumb ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.inner-head .breadcrumb li {
    position: relative;
    margin-right: 10px;
    padding-right: 10px;
    display: inline-block;
    font-size: 15px;
    color: #cecfd2;
}

.inner-head .breadcrumb li a {
    display: block;
    color: #fecc17;
}

.inner-head .breadcrumb li::after {
    content: '\f105';
    font: normal normal normal 13px/1 "FontAwesome";
    display: block;
    position: absolute;
    left: 100%;
    top: 4px;
    color: #cecfd2;
}

.inner-head .breadcrumb li:last-of-type:after {
    display: none;
}

.team .member,
.about-title {
    margin-bottom: 40px;
}

.team .member figcaption {
    width: 100%;
    border-top: 1px solid #eee;
    padding: 15px 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.team .member figcaption h4 {
    font-weight: 600;
    margin: 0 0 5px;
}

.team .member figcaption small {
    display: block;
    margin-bottom: 10px;
}

.team .member figcaption ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.team .member figcaption ul li {
    float: left;
    margin: 0;
    margin-right: 0px;
    margin-right: 10px;
    padding: 0;
    list-style: none;
}

.team .member figcaption ul li a {
    float: left;
    color: #fff;
    font-size: 13px;
    height: 30px;
    width: 30px;
    background-color: #eb0254;
    padding: 5px;
}

.team .member figcaption ul li a:hover {
    color: #fff;
    background-color: #1b1c26;
}

.about-content h1 {
    font-weight: 700;
    margin-top: 0;
}

.about-content h2 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
}

.about-content h3 {
    font-size: 26px;
    line-height: 25px;
    color: rgb(121, 121, 121);
    margin-top: 0;
    font-weight: 300;
}

.about-content p {
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 24px;
}


/*** 29. F.A.Q us page
------------------------------------------------------------------------------*/

.faq-inner .title {
    color: #fff
}

.panel {
    box-shadow: none;
    background: #fff;
}

.panel:last-child {
    border-bottom: none;
}

.panel-group .panel {
    border-radius: 0;
}

.panel-heading {
    border-radius: 0;
    border: none;
    padding: 0;
}

.panel-title a {
    display: block;
    padding: 25px;
    position: relative;
    font-size: 16px;
    font-weight: 400;
}

.panel-body {
    background: #fff;
    padding: 25px;
}

.panel:last-child .panel-body {
    border-radius: 0 0 4px 4px;
}

.panel-body P {
    color: #999;
    line-height: 23px;
    font-size: 16px;
}

.panel:last-child .panel-heading.active {
    border-radius: 0;
    transition: border-radius linear 0s;
}


/* #bs-collapse icon scale option */

.panel-heading a::before {
    content: "\e61a";
    position: absolute;
    font-family: 'themify';
    right: 25px;
    top: 20px;
    font-size: 21px;
    transition: all 0.5s;
    transform: scale(1);
}

.panel-heading.active a:before {
    content: ' ';
    transition: all 0.5s;
    transform: scale(0);
}

#accordion .panel-heading a:after {
    content: ' ';
    font-size: 24px;
    position: absolute;
    font-family: 'themify';
    right: 25px;
    top: 20px;
    transform: scale(0);
    transition: all 0.5s;
}

#accordion .panel-heading.active a:after {
    content: "\e622";
    transform: scale(1);
    transition: all 0.5s;
}

h2{
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 30px;
}

.pagination > li > a:hover, .pagination > li > a:focus {
    color: #fff;
background-color: #1b1c26;
border-color: #1b1c26;
}

.pagination > li > a{
margin-bottom:5px;
}

.item img{
    height: 150px;
	width: 350px;
}

.navbar{
min-height:40px;
}

.news-list-item.articles-list .han-wrapper {
    width: 215px;
    max-width: 218px;
}

.articles-list .post-info-21 {
    padding: 0 0 0 20px;
}
.post-info-21 {
    position: relative;
    display: table-cell;
    width: auto;
    vertical-align: top;
    padding: 0 0 0 15px;
}

.news-list-item .post-info-21 .authar-info {
    line-height: 1;
    margin-top: 5px;
}

@media (max-width: 767px) {
    
    .articles-list.news-list-item .han-wrapper {
        width: 320px;
        max-width: none;
    }

    .post-info-21{
        position: relative;
        display: table;
        width: 100%;
        vertical-align: top;
    	margin-top: 10px;
    	text-align:center;
    }

	.post-info-21 > h2{
        margin-bottom: 10px;
    	font-size: 18px;
    }
}


@media (max-width: 767px) {
	.slider-post > .chgKu {
    	height:350px;
   		display:none;
	}

	.han-wrapper > .chxKu {
    	width:100%;
    	height: 200px;
	}

	.cldKu{
	display:none;
	}
	
	.authar-info li{
		padding: 0 11px;
	}

	.authar-info li + li::before {
    	left: 1px;
	}
}

.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#nih {
    cursor: pointer;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 1000px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 1000px;
    text-align: justify;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.rightArrow {
    position: absolute;
    top: 455px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.rightArrow:hover,
.rightArrow:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.leftArrow {
    position: absolute;
    top: 455px;
    left: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.leftArrow:hover,
.leftArrow:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.nav-tabs-custom>li{
	width:100%;
	float:none;
}