.scrollToTop{background-color:#d79f02; color:#fff}
.scrollToTop:hover, .scrollToTop:focus{background-color:#fff; color:#d79f02; border-color:1px solid #d79f02}
.logo > span{color:#d79f02}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{background-color:#d79f02}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{background-color:#d79f02}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background-color:#d79f02}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{background-color:#d79f02}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background-color:#d79f02}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{background-color:#d79f02}
.latest_newsarea span{background:none repeat scroll 0 0 #d79f02}
/*.latest_post > h2 span{background:none repeat scroll 0 0 #d79f02}*/
#prev-button{color:#d79f02}
#next-button{color:#d79f02}
/*.single_post_content > h2 span{background:none repeat scroll 0 0 #d79f02}
.single_sidebar > h2 span{ background:none repeat scroll 0 0 #d79f02}*/
.bsbig_fig figcaption a:hover{color:#d79f02}
.spost_nav .media-body > a:hover{color:#d79f02}
.cat-item a:hover{background-color:#d79f02}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus{background-color:#d79f02}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{background-color:#d79f02}
.single_sidebar > ul > li a:hover{color:#d79f02}
.footer_widget > h2:hover{color:#d79f02}
.tag_nav li a:hover{color:#d79f02; border-color:#d79f02}
.copyright a:hover{color:#d79f02}
.post_commentbox a:hover, .post_commentbox span:hover{color:#d79f02}
.breadcrumb{border-left:10px solid #d79f02}
.single_page_content ul li:before{background-color:#d79f02}
.single_page_content h2, .single_page_content h3, .single_page_content h4, .single_page_content h5, .single_page_content h6{color:#d79f02}
.nav-slit .icon-wrap{background-color:#d79f02}
.nav-slit h3{background:#d79f02}
.catgArchive{background-color:#d79f02}
.error_page > h3{color:#d79f02}
.error_page > span{background:none repeat scroll 0 0 #d79f02}
.error_page > a{background-color:#d79f02}
.contact_area > h2{background-color:#d79f02}
.contact_form input[type="submit"]{background-color:#d79f02}
.contact_form input[type="submit"]:hover{background-color:#fff; color:#d79f02}
.related_post > h2 i{color:#d79f02}
.form-control:focus{border-color:#d79f02;  box-shadow:0 0px 1px #d79f02 inset,0 0 5px #d79f02}